[tool.ruff]
target-version = "py311"
line-length = 100
lint.isort = { known-first-party = [
  "braket",
] }
lint.extend-select = ["I", "UP", "PERF"]
lint.preview = true
lint.ignore = ["UP045", "UP007"]
lint.exclude = ["src/braket/default_simulator/openqasm/parser/generated*.py"] # Don't lint generated files
